@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-image: linear-gradient(red, yellow);
    height: 4vw;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    font-size: 2vw;
    font-family: 'WindSong', cursive;
}
